### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
school_path = "Resources/schools_complete.csv"
student_path = "Resources/students_complete.csv"

# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv(school_path)
student_data = pd.read_csv(student_path)

# Combine the data into a single dataset.  
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])





## District Summary

* Calculate the total number of schools

* Calculate the total number of students

* Calculate the total budget

* Calculate the average math score 

* Calculate the average reading score

* Calculate the percentage of students with a passing math score (70 or greater)

* Calculate the percentage of students with a passing reading score (70 or greater)

* Calculate the percentage of students who passed math **and** reading (% Overall Passing)

* Create a dataframe to hold the above results

* Optional: give the displayed data cleaner formatting

In [2]:
#Calculate the total number of schools
total_schools = school_data_complete['school_name'].nunique()

#Calculate the total number of students                                 
total_students = school_data_complete['student_name'].count()

#Calculate the total budget
school_data_new = school_data_complete.drop_duplicates(subset=['budget'])
total_budget = school_data_new["budget"].sum()

#Calculate the average math score                                  
average_math = school_data_complete["math_score"].mean()

#Calculate the average reading score
average_reading = school_data_complete["reading_score"].mean()

#Calculate the percentage of students with a passing math score (70 or greater)                                       
passing_math = school_data_complete.loc[school_data_complete["math_score"] >= 70,"math_score"].count()

math_percent = (passing_math /(school_data_complete['math_score'].count()) * 100)

#Calculate the percentage of students with a passing reading score (70 or greater)
passing_reading = school_data_complete.loc[school_data_complete["reading_score"] >= 70, "reading_score"].count()

reading_percent = (passing_reading /(school_data_complete['reading_score'].count()) * 100)

#Calculate the percentage of students who passed math and reading (% Overall Passing)                                           
passing_both = school_data_complete.loc[(school_data_complete["reading_score"] >= 70) & (school_data_complete["math_score"] >= 70), "reading_score"].count()

overall_percent = (passing_both/(school_data_complete['reading_score'].count()) * 100)

#Create a dataframe to hold the above results
district_summary = pd.DataFrame({"Total Schools" : [total_schools], 
                                 "Total Students" : [total_students], 
                                 "Total Budget" : [total_budget],
                                 "Average Math Score": [average_math],
                                 "Average Reading Score": [average_reading],
                                 '% Passing Math' : [math_percent],
                                 '% Passing Reading': [reading_percent], 
                                 '% Overall Passing': [overall_percent]})

#format columns
district_summary["% Passing Math"] = (district_summary["% Passing Math"]).map("{:.2f}%".format)

district_summary["% Passing Reading"] = (district_summary["% Passing Reading"]).map("{:.2f}%".format)

district_summary["% Overall Passing"] = (district_summary["% Overall Passing"]).map("{:.2f}%".format)

district_summary["Total Budget"] = (district_summary["Total Budget"]).map("${:,.2f}".format)

district_summary["Average Math Score"] = (district_summary["Average Math Score"]).map("{:,.2f}".format)

district_summary["Average Reading Score"] = (district_summary["Average Reading Score"]).map("{:,.2f}".format)

district_summary["Total Students"] = (district_summary["Total Students"]).map("{:,.0f}".format)

#print new dataframe
district_summary.head()

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,"39,170","$24,649,428.00",78.99,81.88,74.98%,85.81%,65.17%

## School Summary






* Create an overview table that summarizes key metrics about each school, including:
  * School Name
  * School Type
  * Total Students
  * Total School Budget
  * Per Student Budget
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * % Overall Passing (The percentage of students that passed math **and** reading.)
  



* Create a dataframe to hold the above results

In [3]:
#Group table by school name
grouped_schools = school_data_complete.groupby("school_name")

#School Type
school_type = grouped_schools['type'].unique()

#Total Students
student_count = grouped_schools["student_name"].count()

#Total School Budget
school_budget = grouped_schools["budget"].mean()

#calculate per student budget
per_student_budget = school_budget/student_count

# Average Math Score
average_math_score = grouped_schools["math_score"].mean()

#Average Reading Score
average_reading_score = grouped_schools["reading_score"].mean()

# % Passing Math
passing_math2 = school_data_complete[school_data_complete['math_score'] >= 70].groupby("school_name")['math_score'].count()

m_percent = (passing_math2/student_count)*100

In [4]:
# % Passing Reading
passing_reading2 = school_data_complete[school_data_complete['reading_score'] >= 70].groupby("school_name")['reading_score'].count()

r_percent = (passing_reading2/student_count)*100

# % Overall Passing (The percentage of students that passed math and reading.)
passing_both2 = school_data_complete[(school_data_complete['math_score'] >= 70) & (school_data_complete['reading_score'] >= 70)].groupby("school_name")['math_score'].count()

both_percent = (passing_both2/student_count)*100

#Create a dataframe to hold the above results
grouped_schools_df = pd.DataFrame({
    "School Type": school_type,
    "Total Students": student_count, 
    "Total School Budget": school_budget,
    'Per Student Budget': per_student_budget, 
    "Average Math Score": average_math_score,
    'Average Reading Score': average_reading_score, 
    "% Passing Math": m_percent,
    '% Passing Reading': r_percent,
    '% Overall Passing': both_percent,
})

#format columns
grouped_schools_df["% Passing Math"] = (grouped_schools_df["% Passing Math"]).map("{:.2f}%".format)

grouped_schools_df["% Passing Reading"] = (grouped_schools_df["% Passing Reading"]).map("{:.2f}%".format)

grouped_schools_df["% Overall Passing"] = (grouped_schools_df["% Overall Passing"]).map("{:.2f}%".format)

grouped_schools_df["Total School Budget"] = (grouped_schools_df["Total School Budget"]).map("${:,.2f}".format)

grouped_schools_df["Average Math Score"] = (grouped_schools_df["Average Math Score"]).map("{:,.2f}".format)

grouped_schools_df["Average Reading Score"] = (grouped_schools_df["Average Reading Score"]).map("{:,.2f}".format)

grouped_schools_df["Total Students"] = (grouped_schools_df["Total Students"]).map("{:,.0f}".format)

#print dataframe
grouped_schools_df

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
school_name,,,,,,,,,
Bailey High School,[District],"4,976","$3,124,928.00",628.0,77.05,81.03,66.68%,81.93%,54.64%
Cabrera High School,[Charter],"1,858","$1,081,356.00",582.0,83.06,83.98,94.13%,97.04%,91.33%
Figueroa High School,[District],"2,949","$1,884,411.00",639.0,76.71,81.16,65.99%,80.74%,53.20%
Ford High School,[District],"2,739","$1,763,916.00",644.0,77.10,80.75,68.31%,79.30%,54.29%
Griffin High School,[Charter],"1,468","$917,500.00",625.0,83.35,83.82,93.39%,97.14%,90.60%
Hernandez High School,[District],"4,635","$3,022,020.00",652.0,77.29,80.93,66.75%,80.86%,53.53%
Holden High School,[Charter],427,"$248,087.00",581.0,83.80,83.81,92.51%,96.25%,89.23%
Huang High School,[District],"2,917","$1,910,635.00",655.0,76.63,81.18,65.68%,81.32%,53.51%
Johnson High School,[District],"4,761","$3,094,650.00",650.0,77.07,80.97,66.06%,81.22%,53.54%
Pena High School,[Charter],962,"$585,858.00",609.0,83.84,84.04,94.59%,95.95%,90.54%
Rodriguez High School,[District],"3,999","$2,547,363.00",637.0,76.84,80.74,66.37%,80.22%,52.99%
Shelton High School,[Charter],"1,761","$1,056,600.00",600.0,83.36,83.73,93.87%,95.85%,89.89%
Thomas High School,[Charter],"1,635","$1,043,130.00",638.0,83.42,83.85,93.27%,97.31%,90.95%
Wilson High School,[Charter],"2,283","$1,319,574.00",578.0,83.27,83.99,93.87%,96.54%,90.58%
Wright High School,[Charter],"1,800","$1,049,400.00",583.0,83.68,83.95,93.33%,96.61%,90.33%


## Top Performing Schools (By % Overall Passing)

* Sort and display the top five performing schools by % overall passing.

In [5]:
#Sort the top five performing schools by % overall passing.
top_grouped_schools = grouped_schools_df.sort_values("% Overall Passing", ascending=False)

#print top five performing schools 
top_grouped_schools.head(5)

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
school_name,,,,,,,,,
Cabrera High School,[Charter],"1,858","$1,081,356.00",582.0,83.06,83.98,94.13%,97.04%,91.33%
Thomas High School,[Charter],"1,635","$1,043,130.00",638.0,83.42,83.85,93.27%,97.31%,90.95%
Griffin High School,[Charter],"1,468","$917,500.00",625.0,83.35,83.82,93.39%,97.14%,90.60%
Wilson High School,[Charter],"2,283","$1,319,574.00",578.0,83.27,83.99,93.87%,96.54%,90.58%
Pena High School,[Charter],962,"$585,858.00",609.0,83.84,84.04,94.59%,95.95%,90.54%

## Bottom Performing Schools (By % Overall Passing)


* Sort and display the five worst-performing schools by % overall passing.

In [6]:
#Sort the bottom five performing schools by % overall passing.
bottom_grouped_schools = grouped_schools_df.sort_values("% Overall Passing")

#print bottom five performing schools
bottom_grouped_schools.head(5)

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
school_name,,,,,,,,,
Rodriguez High School,[District],"3,999","$2,547,363.00",637.0,76.84,80.74,66.37%,80.22%,52.99%
Figueroa High School,[District],"2,949","$1,884,411.00",639.0,76.71,81.16,65.99%,80.74%,53.20%
Huang High School,[District],"2,917","$1,910,635.00",655.0,76.63,81.18,65.68%,81.32%,53.51%
Hernandez High School,[District],"4,635","$3,022,020.00",652.0,77.29,80.93,66.75%,80.86%,53.53%
Johnson High School,[District],"4,761","$3,094,650.00",650.0,77.07,80.97,66.06%,81.22%,53.54%


## Math Scores by Grade

* Create a table that lists the average Reading Score for students of each grade level (9th, 10th, 11th, 12th) at each school.

  * Create a pandas series for each grade. Hint: use a conditional statement.
  
  * Group each series by school
  
  * Combine the series into a dataframe
  
  * Optional: give the displayed data cleaner formatting

In [7]:
grouped_schools = school_data_complete.groupby("school_name")

#Create a pandas series for 9th grade.
ninth = school_data_complete[school_data_complete['grade'] == '9th'].groupby("school_name")['math_score'].mean()

#Create a pandas series for 10th grade
tenth = school_data_complete[school_data_complete['grade'] == '10th'].groupby("school_name")['math_score'].mean()

#Create a pandas series for 11th grade.
eleventh = school_data_complete[school_data_complete['grade'] == '11th'].groupby("school_name")['math_score'].mean()

#Create a pandas series for 12th grade.
twelth = school_data_complete[school_data_complete['grade'] == '12th'].groupby("school_name")['math_score'].mean()

#Combine the series into a dataframe
math_scores_by_grade = pd.DataFrame({'9th': ninth, '10th': tenth, '11th': eleventh, '12th':twelth})

#format columns
math_scores_by_grade["9th"] = (math_scores_by_grade["9th"]).map("{:.2f}".format)

math_scores_by_grade["10th"] = (math_scores_by_grade["10th"]).map("{:.2f}".format)

math_scores_by_grade["11th"] = (math_scores_by_grade["11th"]).map("{:.2f}".format)

math_scores_by_grade["12th"] = (math_scores_by_grade["12th"]).map("{:,.2f}".format)

#print dataframe
math_scores_by_grade

                         9th   10th   11th   12th
school_name
Bailey High School     77.08  77.00  77.52  76.49
Cabrera High School    83.09  83.15  82.77  83.28
Figueroa High School   76.40  76.54  76.88  77.15
Ford High School       77.36  77.67  76.92  76.18
Griffin High School    82.04  84.23  83.84  83.36
Hernandez High School  77.44  77.34  77.14  77.19
Holden High School     83.79  83.43  85.00  82.86
Huang High School      77.03  75.91  76.45  77.23
Johnson High School    77.19  76.69  77.49  76.86
Pena High School       83.63  83.37  84.33  84.12
Rodriguez High School  76.86  76.61  76.40  77.69
Shelton High School    83.42  82.92  83.38  83.78
Thomas High School     83.59  83.09  83.50  83.50
Wilson High School     83.09  83.72  83.20  83.04
Wright High School     83.26  84.01  83.84  83.64

## Reading Score by Grade

* Perform the same operations as above for reading scores

In [8]:
#group data by school name
grouped_schools = school_data_complete.groupby("school_name")

#Create a pandas series for 9th grade.
ninth = school_data_complete[school_data_complete['grade'] == '9th'].groupby("school_name")['reading_score'].mean()

#Create a pandas series for 10th grade
tenth = school_data_complete[school_data_complete['grade'] == '10th'].groupby("school_name")['reading_score'].mean()

#Create a pandas series for 11th grade.
eleventh = school_data_complete[school_data_complete['grade'] == '11th'].groupby("school_name")['reading_score'].mean()

#Create a pandas series for 12th grade.
twelth = school_data_complete[school_data_complete['grade'] == '12th'].groupby("school_name")['reading_score'].mean()

#Combine the series into a dataframe
reading_scores_by_grade = pd.DataFrame({'9th': ninth, '10th': tenth, '11th': eleventh, '12th':twelth})

#format columns
reading_scores_by_grade["9th"] = (reading_scores_by_grade["9th"]).map("{:.2f}".format)

reading_scores_by_grade["10th"] = (reading_scores_by_grade["10th"]).map("{:.2f}".format)

reading_scores_by_grade["11th"] = (reading_scores_by_grade["11th"]).map("{:.2f}".format)

reading_scores_by_grade["12th"] = (reading_scores_by_grade["12th"]).map("{:,.2f}".format)

#print dataframe
reading_scores_by_grade

                         9th   10th   11th   12th
school_name
Bailey High School     81.30  80.91  80.95  80.91
Cabrera High School    83.68  84.25  83.79  84.29
Figueroa High School   81.20  81.41  80.64  81.38
Ford High School       80.63  81.26  80.40  80.66
Griffin High School    83.37  83.71  84.29  84.01
Hernandez High School  80.87  80.66  81.40  80.86
Holden High School     83.68  83.32  83.82  84.70
Huang High School      81.29  81.51  81.42  80.31
Johnson High School    81.26  80.77  80.62  81.23
Pena High School       83.81  83.61  84.34  84.59
Rodriguez High School  80.99  80.63  80.86  80.38
Shelton High School    84.12  83.44  84.37  82.78
Thomas High School     83.73  84.25  83.59  83.83
Wilson High School     83.94  84.02  83.76  84.32
Wright High School     83.83  83.81  84.16  84.07

## Scores by School Spending


* Create a table that breaks down school performances based on average Spending Ranges (Per Student). Use 4 reasonable bins to group school spending. Include in the table each of the following:
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)

In [9]:
#merge datasets to include per student budget
school_data_spending = pd.merge(school_data_complete, grouped_schools_df, how="left", on=["school_name", "school_name"])

#create bins
spending_bins = [0, 585, 630, 645, 680]

#create labels 
labels = ["<$585", "$585-630", "$630-645", "$645-680"]

#add a column for Spending Ranges (Per Student) to existing dataframe
school_data_spending["Spending Ranges (Per Student)"] = pd.cut(school_data_spending["Per Student Budget"], bins=spending_bins, labels=labels, include_lowest = False)

#group by Spending Ranges (Per Student)
schools_spending = school_data_spending.groupby("Spending Ranges (Per Student)")

#find average math score
spending_average_math = schools_spending["math_score"].mean()

#find average reading score
spending_average_reading = schools_spending["reading_score"].mean()

#count of students over 70% in math
spending_math_percent = school_data_spending[school_data_spending['math_score'] >= 70].groupby("Spending Ranges (Per Student)")['math_score'].count()

#find student count 
student_count = schools_spending["student_name"].count()

#find percent of students over 70% in math
spending_math = (spending_math_percent/student_count)*100

#count of students over 70% in reading
spending_reading_percent = school_data_spending[school_data_spending['reading_score'] >= 70].groupby("Spending Ranges (Per Student)")['reading_score'].count()

#find percent of students over 70% in reading
spending_reading = (spending_reading_percent/student_count)*100

#count of students over 70% in math and reading
spending_overall_percent = school_data_spending[(school_data_spending['reading_score'] >= 70) & (school_data_spending['math_score'] >= 70)].groupby("Spending Ranges (Per Student)")['reading_score'].count()

#find percent of students over 70% in math and reading
spending_overall = (spending_overall_percent/student_count)*100

#create new dataframe
scores_by_school_spending = pd.DataFrame({"Average Math Score": spending_average_math,
                                      'Average Reading Score':spending_average_reading,
                                      "% Passing Math": spending_math,
                                      "% Passing Reading":spending_reading,
                                      "% Overall Passing": spending_overall})

#format columns
scores_by_school_spending["% Passing Math"] = (scores_by_school_spending["% Passing Math"]).map("{:.2f}%".format)

scores_by_school_spending["% Passing Reading"] = (scores_by_school_spending["% Passing Reading"]).map("{:.2f}%".format)

scores_by_school_spending["% Overall Passing"] = (scores_by_school_spending["% Overall Passing"]).map("{:.2f}%".format)

scores_by_school_spending["Average Math Score"] = (scores_by_school_spending["Average Math Score"]).map("{:,.2f}".format)

scores_by_school_spending["Average Reading Score"] = (scores_by_school_spending["Average Reading Score"]).map("{:,.2f}".format)

#print dataframe
scores_by_school_spending.head()

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
Spending Ranges (Per Student),,,,,
<$585,83.36,83.96,93.70%,96.69%,90.64%
$585-630,79.98,82.31,79.11%,88.51%,70.94%
$630-645,77.82,81.30,70.62%,82.60%,58.84%
$645-680,77.05,81.01,66.23%,81.11%,53.53%

## Scores by School Size

* Perform the same operations as above, based on school size.

In [10]:
#create bins
size_bins = [0, 1000, 2000, 5000]

#create labels
labels = ["Small (<1000)", "Medium (1000-2000)", "Large (2000-5000)"]

#add a column for School Size to existing dataframe
school_data_complete["School Size"] = pd.cut(school_data_complete["size"], bins=size_bins, labels=labels, include_lowest=True)

#group by school size 
schools_size = school_data_complete.groupby("School Size")

#find average math score
size_math_scores = schools_size["math_score"].mean()

#average reading score
size_reading_scores = schools_size["reading_score"].mean()

#count of students over 70% in math
size_math_percent = school_data_complete[school_data_complete['math_score'] >= 70].groupby("School Size")['math_score'].count()

#student count
student_count = schools_size["student_name"].count()

#percent of students over 70% in math
size_math = (size_math_percent/student_count)*100

#count of students over 70% in reading
size_reading_percent = school_data_complete[school_data_complete['reading_score'] >= 70].groupby("School Size")['reading_score'].count()

#percent of students over 70% in reading
size_reading = (size_reading_percent/student_count)*100 

#count of students over 70% in math and reading 
size_overall_percent = school_data_complete[(school_data_complete['reading_score'] >= 70) & (school_data_complete['math_score'] >= 70)].groupby("School Size")['reading_score'].count()

#count of students over 70% in math and reading
size_overall = (size_overall_percent/student_count)*100

#create new dataframe
scores_by_school_size = pd.DataFrame({"Average Math Score": size_math_scores,
                                    "Average Reading Score":size_reading_scores,
                                   "% Passing Math": size_math,
                                      "% Passing Reading":size_reading,
                                      "% Overall Passing": size_overall
                                     })
#format dataframe
scores_by_school_size["% Passing Math"] = (scores_by_school_size["% Passing Math"]).map("{:.2f}%".format)

scores_by_school_size["% Passing Reading"] = (scores_by_school_size["% Passing Reading"]).map("{:.2f}%".format)

scores_by_school_size["% Overall Passing"] = (scores_by_school_size["% Overall Passing"]).map("{:.2f}%".format)

scores_by_school_size["Average Math Score"] = (scores_by_school_size["Average Math Score"]).map("{:,.2f}".format)

scores_by_school_size["Average Reading Score"] = (scores_by_school_size["Average Reading Score"]).map("{:,.2f}".format)

#print dataframe
scores_by_school_size.head()

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
School Size,,,,,
Small (<1000),83.83,83.97,93.95%,96.04%,90.14%
Medium (1000-2000),83.37,83.87,93.62%,96.77%,90.62%
Large (2000-5000),77.48,81.20,68.65%,82.13%,56.57%

## Scores by School Type

* Perform the same operations as above, based on school type

In [11]:
#group by school type 
grouped_school_type = school_data_complete.groupby("type")

#average math score 
type_math_scores = grouped_school_type["math_score"].mean()

#average reading score
type_reading_scores = grouped_school_type["reading_score"].mean()

#count of students over 70% in math
type_math_percent = school_data_complete[school_data_complete['math_score'] >= 70].groupby("type")['math_score'].count()

#student count
student_count = grouped_school_type["student_name"].count()

#cpercent of students over 70% in math
type_math = (type_math_percent/student_count)*100

#count of students over 70% in reading
type_reading_percent = school_data_complete[school_data_complete['reading_score'] >= 70].groupby("type")['reading_score'].count()

#percent of students over 70% in reading
type_reading = (type_reading_percent/student_count)*100

#count of students over 70% in math and reading
type_overall_percent = school_data_complete[(school_data_complete['math_score'] >= 70) & (school_data_complete['reading_score'] >= 70)].groupby("type")['math_score'].count()

#percent of students over 70% in math and reading
type_overall = (type_overall_percent/student_count)*100

#create new dataframe 
scores_by_school_type = pd.DataFrame({"Average Math Score": type_math_scores,
                                    "Average Reading Score":type_reading_scores,
                                   "% Passing Math": type_math,
                                    "% Passing Reading":type_reading,
                                    "% Overall Passing": type_overall
                                     })
#format columns       
scores_by_school_type["% Passing Math"] = (scores_by_school_type["% Passing Math"]).map("{:.2f}%".format)

scores_by_school_type["% Passing Reading"] = (scores_by_school_type["% Passing Reading"]).map("{:.2f}%".format)

scores_by_school_type["% Overall Passing"] = (scores_by_school_type["% Overall Passing"]).map("{:.2f}%".format)

scores_by_school_type["Average Math Score"] = (scores_by_school_type["Average Math Score"]).map("{:,.2f}".format)

scores_by_school_type["Average Reading Score"] = (scores_by_school_type["Average Reading Score"]).map("{:,.2f}".format)

#print dataframe 
scores_by_school_type.head()

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
type,,,,,
Charter,83.41,83.90,93.70%,96.65%,90.56%
District,76.99,80.96,66.52%,80.91%,53.70%